{% extends 'base.html.twig' %}

{% block title %}New Adoption{% endblock %}

{% block body %}
    <h1>Create new Adoption</h1>

    {{ include('adoption/_form.html.twig') }}

    <a href="{{ path('app_adoption_index') }}">back to list</a>
{% endblock %}

