<div class="flex gap-2">
  <a href="{{ path('app_eshop_categorie_show', { id: categorie.id }) }}" class="text-paw-orange hover:underline js-modal-link">View</a>
  <a href="{{ path('app_eshop_categorie_edit', { id: categorie.id }) }}" class="text-blue-600 hover:underline js-modal-link">Modify</a>
  <form method="post" action="{{ path('app_eshop_categorie_delete', { id: categorie.id }) }}" class="inline js-delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    <button type="button" class="text-red-600 hover:underline js-delete-button" data-message="Delete this category?">Delete</button>
  </form>
</div>